@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

*{
    margin:0;
    padding:0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #ffffff;
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 9999;

    .left-nav{
        background: white;
        margin: 1.5%;
        
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 0px 0px 0px 65px;

            li{
                list-style: none;
                margin: 0px 25px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1vw;
                font-weight: bold;
                a{
                    text-decoration: none;
                    
                }
            }
        }
        
    }

    .middle-nav{
        h1{
            font-family: 'Rubik', sans-serif;
        }
    }

    .right-nav{
        background: white;
        
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 0px 60px 0px -65px;

            li{
                list-style: none;
                margin: 0px 25px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1vw;
                font-weight: bold;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background:beige;

    .sub1-section1{
        background-image: url(images/kitchen1.jpg);
        background-size:cover;
        min-height: 90%;
        width:80%;
        float: left;
        height: 88vh;
        position: relative;
    }

    .sub2-section1{
        width: 45vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        h3{
            font-size:1.5vw;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

        h2{
            font-size:1.5vw;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        h1{
            font-size: 3.5vw;
            text-align: center;
            font-weight:lighter;
        }

        a{
            text-align: center;
            font-size: 1vw;
            border: 1px solid #484848;
            width: fit-content;
            align-self: center;
            margin-top: 30px;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            transition: ease-in-out 300ms;
            font-weight: bolder;

            &:hover{
                background: rgb(17, 17, 17);
                font-weight: lighter;
                color: #ffffff;
                border: 1px solid #ffffff;
                transition: ease-in-out 300ms;
                cursor: pointer;
            }
        }
        
    }
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40vh;

    q{
        font-size: 2vw;
        font-family: 'Rubik', sans-serif;
    }
    i{
        font-size: 2vw;
    }
    
    a{
        text-align: center;
        font-size: 1vw;
        border: 1px solid #484848;
        width: fit-content;
        align-self: center;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        transition: ease-in-out 300ms;
        font-weight: bolder;

        &:hover{
            background: rgb(17, 17, 17);
            color: #ffffff;
            font-weight: lighter;
            border: 1px solid #ffffff;
            transition: ease-in-out 300ms;
            cursor: pointer;
        }
    }
}

.section-3{
    background: #f5f1ed;
    height: 250vh;

    .sub1-section3{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0px 10px 0px 0px;

        h2{
            font-size:1.5vw;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        a{
            text-align: center;
            font-size: 1vw;
            border: 1px solid #484848;
            width: fit-content;
            align-self: center;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            transition: ease-in-out 300ms;
            font-weight: bolder;
    
            &:hover{
                background: rgb(17, 17, 17);
                color: #ffffff;
                font-weight: lighter;
                border: 1px solid #ffffff;
                transition: ease-in-out 300ms;
                cursor: pointer;
            }
        }

        .empty-space-sub1-section3{
            margin: 5% 5%;
        }
    }

    .sub2-section3{
        display: grid;
        gap: 80px 100px;
        grid-template-columns: auto auto;
        padding: 0px 100px 0px 100px;

        .sub2-section3-box1{
            .image1{
                background-image: url(images/section3-image1.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }

        }

        .sub2-section3-box2{
            .image2{
                background-image: url(images/section3-image2.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }
        }

        .sub2-section3-box3{
            .image3{
                background-image: url(images/section3-image3.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }
        }

        .sub2-section3-box4{
            .image4{
                background-image: url(images/section3-image4.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{

                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }
        }

        .sub2-section3-box5{
            .image5{
                background-image: url(images/section3-image5.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{

                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }
        }

        .sub2-section3-box6{
            .image6{
                background-image: url(images/section3-image6.jpg);
                background-size:cover;
                min-height: 90%;
                width:100%;
                height: 48vh;
                position: relative;
            }

            .contain-two-rows-of-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-and-price{

                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }

                .location-and-availability{
                    h3{
                        font-size: 1.5vw;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h2{
                        font-size: 1.5vw;
                        font-family: 'Rubik', sans-serif;
                    }
                }
            }
        }
    }
}